USE [master]
GO
/****** Object:  Database [CalificacionesMVC]    Script Date: 21/07/2023 04:51:14 p. m. ******/
CREATE DATABASE [CalificacionesMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Calificaciones', FILENAME = N'C:\Users\Usuario22\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Calificaciones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Calificaciones_log', FILENAME = N'C:\Users\Usuario22\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Calificaciones.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CalificacionesMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CalificacionesMVC]
GO
USE [CalificacionesMVC]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 21/07/2023 04:51:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Calificacion] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Alumno__3214EC07099B7366] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

INSERT [dbo].[Alumno] ([Id], [Nombre], [Apellido], [Calificacion]) VALUES (1, N'Joel', N'Juárez', CAST(9.80 AS Decimal(10, 2)))
INSERT [dbo].[Alumno] ([Id], [Nombre], [Apellido], [Calificacion]) VALUES (4, N'Juan Jose', N'Hernandez', CAST(7.70 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Alumno] OFF
GO
USE [master]
GO
